<!DOCTYPE html>
<html>
  <head>
    <title>goDutch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser =
          <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
